<a href="https://colab.research.google.com/github/sgr1118/FD/blob/main/FD12_Use_text_data(220714).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12. 텍스트의 다양한 변신 (문자열, 파일 다루기)

In [ ]:
# 12-3. 텍스트 데이터를 문자열로 저장한다는 것 (2) 문자열 다루기

# isX 메서드
print('aiffel'.isupper())
print('aiffel'.islower())
print('PYTHON'.istitle())
print('python101'.isalpha())
print('python101'.isalnum())
print('101'.isdecimal())

False
True
False
False
True
True

In [ ]:
# stages = ['fundamentals', 'exploration', 'goingdeeper']
#' ! '.join(stages) # join 사용
#'fundamentals,exploration,goingdeeper'.split(',') # split 사용
# sent = 'I can do it!'
# sent.replace('it!', 'that') # replace 사용

'I can do that'

In [ ]:
sent = 'I fell into AIFFEL'
print(sent)
print(id(sent))

sent = sent.upper()
print(id(sent))

I fell into AIFFEL
140198018061776
140198018058240

In [ ]:
# 텍스트 데이터를 문자열로 저장한다는 것 (3) 정규 표현식

import re
sent = 'I can do it!'
pattern = re.sub('I', 'You', sent)
pattern

'You can do it!'

In [ ]:
# 정규표현식 Compile()
# 1단계 : 'the'라는 패턴을 컴파일한 후 패턴 객체를 리턴합니다. 
#pattern = re.compile('the')

# 2단계 : 컴파일된 패턴 객체를 활용하여 다른 텍스트에서 검색을 수행합니다.
#pattern.findall('of the people, for the people, by the people')

# 한줄로 표현하기
re.findall('the', 'of the people, for the people, by the people')

['the', 'the', 'the']

In [ ]:
# 메서드
src = "My name is..."
regex = re.match('My', src)
print(regex)
if regex:
  print(regex.group())
else:
  print('NO!')

<re.Match object; span=(0, 2), match='My'>
My

In [ ]:
#- 연도(숫자)
text = """
The first season of America Premiere League  was played in 1993. 
The second season was played in 1995 in South Africa. 
Last season was played in 2019 and won by Chennai Super Kings (CSK).
CSK won the title in 2000 and 2002 as well.
Mumbai Indians (MI) has also won the title 3 times in 2013, 2015 and 2017.
"""
pattern = re.compile('[1-2]\d\d\d')
pattern.findall(text)

['1993', '1995', '2019', '2000', '2002', '2013', '2015', '2017']

In [ ]:
#- 전화번호(숫자, 기호)
phonenumber = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
phone = phonenumber.search('This is my phone number 010-111-1111')
if phone:
  print(phone.group())
print('------')
phone = phonenumber.match ('This is my phone number 010-111-1111')
if phone:
  print(phone.group())

010-111-1111
------

In [ ]:
#- 전화번호(숫자, 기호)
phonenumber = re.compile(r'(\d{3}-){2}\d{4}')
phone = phonenumber.search('This is my phone number 010-111-1111')
if phone:
  print(phone.group())
print('------')
phone = phonenumber.match ('This is my phone number 010-111-1111')
if phone:
  print(phone.group())

010-111-1111
------

In [ ]:
#- 이메일(알파벳, 숫자, 기호)
text = "My e-mail adress is doingharu@aiffel.com, and tomorrow@aiffel.com"
pattern = re.compile("[0-9a-zA-Z]+@[0-9a-z]+\.[0-9a-z]+")
pattern.findall(text)

['doingharu@aiffel.com', 'tomorrow@aiffel.com']

In [ ]:
# 12-5. 파일과 디렉터리 (1) 파일
f = open('hello.txt', 'w')
#- open(파일명, 파일모드)
#- 파일을 열고 파일 객체를 반환합니다.
for i in range(10):
  f.write('안녕')
  #- write() 메서드로 '안녕'을 10번 씁니다.
f.close()
#- 작업이 끝나면 close() 메서드로 닫아줍니다. *필수!
print("완료!")

완료!

In [ ]:
with open ('hello.txt', 'r') as f:
  print(f.read())

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕

In [ ]:
quotes = ["\n안녕하세요.\n", "반갑습니다.\n", "오랫만입니다.\n"]
with open("hello.txt", "a") as f:
  f.writelines(quotes)

In [ ]:
with open('hello.txt', 'r') as f:
    hello = f.readlines()
    print(f'위치 : {f.tell()}')
    print(hello)
    print("----------------------------------------------------")
    f.seek(10)
    print(f'위치 : {f.tell()}')

위치 : 225
['안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕\n', '안녕하세요.\n', '반갑습니다.\n', '오랫만입니다.\n', '\n', '안녕하세요.\n', '반갑습니다.\n', '오랫만입니다.\n', '\n', '안녕하세요.\n', '반갑습니다.\n', '오랫만입니다.\n']
----------------------------------------------------
위치 : 10

In [ ]:
# 12-7. 파일과 디렉터리 (3) 모듈과 패키지

import sys
sys.executable
sys.path

['',
 '/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython']

In [ ]:
# 12-8. 여러가지 파일 포맷 다루기 (1) CSV 파일

billboardchart = {
  				       1 : ["Tho Box","Roddy Ricch","2019-12-19"],
                 2 : ["Don't Start Now", "Dua Lipa", "2019-11-01"],
                 3 : ["Life Is Good", "Future Featuring Drake", "2020-02-10"],
                 4 : ["Blinding", "The Weeknd", "2019-11-29"],
                 5 : ["Circles", "Post Malone","2019-08-30"]}

with open("billboardchart.csv","w") as f:
    for i in billboardchart.values():
        data = ",".join(i)
        f.write(data+"\n")

print("슝~")

슝~

In [ ]:
import csv

header = ['title', 'singer', 'released date']

with open('billboardchart.csv', 'r') as inputfile:
  with open('billboardchart_out.csv', 'w', newline = '\n') as outputfile:
    fi = csv.reader(inputfile, delimiter=',')
    fo = csv.writer(outputfile, delimiter=',')
    fo.writerow(header)
    for row in fi:
      fo.writerow(row)

print("슝~")

슝~

In [ ]:
#- 1. 데이터를 준비합니다.
fields = ["title", "singer", "released date"]
rows = [ ["Tho Box","Roddy Ricch","2019-12-19"],
               ["Don't Start Now", "Dua Lipa", "2019-11-01"],
               ["Life Is Good", "Future Featuring Drake", "2020-02-10"],
               ["Blinding", "The Weeknd", "2019-11-29"],
               ["Circles", "Post Malone","2019-08-30"]]

print("슝~")

슝~

In [ ]:
import pandas as pd

df = pd.DataFrame(rows, columns = fields)
df.to_csv('pandas.csv', index = False)

In [ ]:
import csv

filename = 'test.csv'

with open(filename, 'w+', newline='\n') as csv_file:
  csv_writer = csv.writer(csv_file)
  csv_writer.writerow(fields)
  csv_writer.writerows(rows)

print('완료')

완료

In [ ]:
open = pd.read_csv('test.csv')
open

             title                  singer released date
0          Tho Box             Roddy Ricch    2019-12-19
1  Don't Start Now                Dua Lipa    2019-11-01
2     Life Is Good  Future Featuring Drake    2020-02-10
3         Blinding              The Weeknd    2019-11-29
4          Circles             Post Malone    2019-08-30

In [ ]:
# 12-9. 여러가지 파일 포맷 다루기 (2) XML 파일

# XML 파일 만들기
import xml.etree.ElementTree as ET

person = ET.Element('Person')
name =  ET.Element('name')
name.text = '기락'
person.append(name)

age = ET.Element('age')
age.text = '27'
person.append(age)

ET.SubElement(person, 'place').text = '대구'

ET.dump(person)

<Person><name>기락</name><age>27</age><place>대구</place></Person>

In [ ]:
person.attrib['id'] = "0x0001"
name.tag = "firstname"
ET.dump(person)

<Person id="0x0001"><firstname>기락</firstname><age>27</age><place>대구</place></Person>

In [ ]:
lastname = ET.Element('lastname', date = '2022-07-14')
lastname.text = '아'
person.insert(1, lastname)
ET.dump(person)

<Person id="0x0001"><firstname>기락</firstname><lastname date="2022-07-14">아</lastname><age>27</age><place>대구</place></Person>

In [ ]:
person.remove(name)

In [ ]:
ET.ElementTree(person).write('person.xml')

In [ ]:
!ls

billboardchart.csv	hello.txt   person.xml	 test.csv
billboardchart_out.csv	pandas.csv  sample_data

In [ ]:
import json

person = {
      "first name" : "Yuna",
      "last name" : "Jung",
      "age" : 33,
      "nationality" : "South Korea",
      "education" : [{"degree":"B.S degree", "university":"Daehan university", "major": "mechanical engineering", "graduated year":2010}]
       } 

with open("person.json", "w") as f:
    json.dump(person , f)

print("슝~")

TypeError: ignored

In [ ]:
import json

with open("person.json", "r", encoding="utf-8") as f:
    contents = json.load(f)
    print(contents["first name"])
    print(contents["education"])

TypeError: ignored